In [ ]:
#NAME : SAI DYUTI VAISHNAVI VADDIPARTHI
#REGISTER NUMBER: 20MIC0014

In [ ]:
#TASK -1  Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame(np.random.rand(4,4))
print(df)

          0         1         2         3
0  0.804965  0.384460  0.028579  0.427198
1  0.045282  0.269120  0.892338  0.189963
2  0.565107  0.240677  0.226525  0.179489
3  0.582837  0.762374  0.700990  0.787805

In [ ]:
#TASK -2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
df.columns = ["Random value 1","Random value 2","Random value 3","Random value 4"]

In [ ]:
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.804965        0.384460        0.028579        0.427198
1        0.045282        0.269120        0.892338        0.189963
2        0.565107        0.240677        0.226525        0.179489
3        0.582837        0.762374        0.700990        0.787805

In [ ]:
#TASK -3 Find the descriptive statistics of the 'df' dataframe.

In [ ]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.499547        0.414158        0.462108        0.396114
std          0.321907        0.240325        0.402331        0.285081
min          0.045282        0.240677        0.028579        0.179489
25%          0.435150        0.262009        0.177039        0.187345
50%          0.573972        0.326790        0.463758        0.308581
75%          0.638369        0.478938        0.748827        0.517350
max          0.804965        0.762374        0.892338        0.787805

In [ ]:
df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.499547        0.414158        0.462108        0.396114
std          0.321907        0.240325        0.402331        0.285081
min          0.045282        0.240677        0.028579        0.179489
25%          0.435150        0.262009        0.177039        0.187345
50%          0.573972        0.326790        0.463758        0.308581
75%          0.638369        0.478938        0.748827        0.517350
max          0.804965        0.762374        0.892338        0.787805

In [ ]:
df['Random value 4'].mean()

0.39611374819578143

In [ ]:
#TASK-4 Check for the null values in 'df' and find the data type of the columns.
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
#checking the data type
df['Random value 4'].dtype

dtype('float64')

In [ ]:
# Checking the datatype

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [ ]:
#TASK -5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [ ]:
df.loc [:,['Random value 2','Random value 3']]

   Random value 2  Random value 3
0        0.384460        0.028579
1        0.269120        0.892338
2        0.240677        0.226525
3        0.762374        0.700990

In [ ]:
df.iloc[:,[1,2]]

   Random value 2  Random value 3
0        0.384460        0.028579
1        0.269120        0.892338
2        0.240677        0.226525
3        0.762374        0.700990